.wrapper{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.home-section{
  width: 100vw;
  height: auto;
}


.home-body{
  width: 100%;
  width: auto;
  display: flex;
  flex-direction: column;
}

.texto{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.titulo {
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-size:large;
  text-transform: uppercase;
}

.subtitulo{
  font-weight: 500;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: medium;
  text-transform: capitalize;
}

.bg-image{
  height: 300px;
  background-image: url("/assets/images/istockphoto-1288019626-612x612.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.principal{
  height: 300px;
  background-color: rgba(0, 0, 0,0.5);
  // flex
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.encontraras {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards {
  display: flex;
  gap: 10px;
  margin: 20px;
}

.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.imagen-card{
  width: 200px;
  height: 200px;
}
