<div class="wrapper">
  <div class="home-section">
    <!-- navbar -->
    <div class="home-header">
      <app-navbar></app-navbar>
    </div>
    <!-- body -->
    <div class="home-body">
      <div class="bg-image">
        <div class="principal">
          <h1 class="titulo">Realiza tu examen de inglés hoy</h1>
         <button type="button" class="btn btn-primary" (click)="moveLogin()">Empezar</button>
        </div>
      </div>


      <div class="encontraras">
        <div class="subtitulo">
         <h2>Encontrarás</h2>
        </div>
        <!-- contenedor card -->
        <div class="cards">
          <!-- card de bootstrap -->
          <div class="card">
            <img class="card-img-top imagen-card" src="/assets/images/dibujos-animados-dispositivo-audio-retro_24911-1926.avif" alt="Card image cap">
            <div class="card-body">
              <p class="texto">El usuario tendrá la opción de reproducir y pausar la barra de audio.</p>
            </div>
          </div>

          <div class="card">
            <img class="card-img-top imagen-card" src="/assets/images/gramatica.avif" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
              </p>
            </div>
          </div>

          <div class="card">
            <img class="card-img-top imagen-card" src="/assets/images/lectura.jpg" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
